<%- include('../partials/head', {style :'catalog'}) %>

	<main class="container">
		<article class="text-center">
			<hgroup>
				<h1>500</h1>
			</hgroup>

			<a href="/">Retour à l'accueil</a>
		</article>
	</main>

<%- include('../partials/footer') %>