<%- include('../partials/head', {style :'catalog'}) %>

	<main class="container">
		<article class="text-center">
			<hgroup>
				<h1>404</h1>
				<h2>Page non trouvée</h2>

				<img src="https://http.dog/404.jpg" alt="not found">
			</hgroup>

			<a href="/">Retour à l'accueil</a>
		</article>
	</main>

<%- include('../partials/footer') %>